<!-- JSRender templates -->
<script id="PUGListingTemplate" type="text/x-jsrender">
  <%- partial('listing.ejs')  %>
</script>
<script id="PUGTeamTemplate" type="text/x-jsrender">
  <%- partial('team.ejs')  %>
</script>
<script id="PUGSmallSlotTemplate" type="text/x-jsrender">
  <%- partial('small_slot.ejs')  %>
</script>
<script id="InPUGTeamsTemplate" type="text/x-jsrender">
  <%- partial('in_pug.ejs')  %>
</script>
<script id="PUGViewTemplate" type="text/x-jsrender">
  <div class="med_region region_{{:pug.region}}"></div>
  <img src="http://cdn.tf2pickup.com/maps/320/{{:pug.map}}.jpg"
       height="48"
       alt="{{:pug.map}}"
       title="{{:pug.map}}" />
  <div id="cur_team">
    <div id="cur_team_name" class="team_{{zeroFix:player.team_id}}"><!--
    -->{{teamName:player.team_id}}</div><br />
    <div class="small_class class_{{zeroFix:player.class_id}}"></div>
  </div>
  <div id="cur_player_count"><!--
  -->{{zeroFix:pug.players.length}}/{{zeroFix:pug.max_players}}</div>
</script>

<!-- Alert box -->
<div id="alert"<% if (logged_in) { %> class="hidden"<% } %>>
  <div id="alert_contents">
    <div id="disconnected">
      Disconnected from server. Automatically retrying...
    </div>
    <div id="login_box">
      <h2>Please login with Steam to<br />use this site.</h2>
        <a href="<%= openid_url %>">
          <img src="http://cdn.steamcommunity.com/public/images/signinthroughsteam/sits_large_border.png"
               alt="steam login"/>
        </a>
        </div>
         <div id="start_pug_box">
            <div class="close_alert">X</div>
            <h2><div id="start_pug_box_title">Create a PUG</div></h2>
            PUG Name:<br />
            <input type="text" id="new_pug_name" maxlength="150"
                   value="Awesome sauce pug!" /><br />
            Map Name:<br />
            <input type="text" id="new_pug_map" maxlength="150"
                   value="cp_badlands" /><br />
            Server IP:<br /><!--
         --><div id="new_pug_ip_wrapper"><!--
           --><input type="text" id="new_pug_ip" maxlength="15"
                     value="70.42.74.154"/><!--
           --><div id="new_pug_region_preview" class="small_region"></div><!--
         --></div><!--
         --><br />
            Server Port:<br />
            <input type="text" id="new_pug_port" value="27016" /><br />
            RCON:<br />
            <input type="password" id="new_pug_rcon" value="reddit" /><br />
            PUG Password:<br />
            <input type="password" id="new_pug_password" /><br />
            Game Type:<br />
            <select id="new_pug_type">
                <option value="1">Standard</option>
                <option value="2">Highlander</option>
            </select>
            <input type="button" value="Launch" id="launch_pug" />
        </div>
        <div id="settings_box">
            <div class="close_alert">X</div>
             TODO: Put various settings and stuff here
        </div>
        <div id="creating_pug_box">
          <div class="close_alert">X</div>
          <img src="http://cdn.tf2pickup.com/ajax-loader.gif" />
          <br />
          Creating PUG
        </div>
        <div id="create_pug_error">
          <div class="close_alert">X</div>
          Error Creating PUG:
          <br />
          <p></p>
        </div>
        <div id="stats_box">
          <div class="close_alert">X</div>
          TODO: Put various stats and stuff here
        </div>
    </div>
</div>

<!-- Main page body -->
<div id="wrapper">
  <div id="tf2_icon"></div>
  <div id="header">
    <div id="logo"></div>
    <div id="current_pug">
    </div>
<% if (logged_in) { %>
      <div id="steam">
        <img src="<%= user.avatar %>" alt="avatar" width="30" height="30" />
          <div class="player_name"><%= user.name %></div> ||
          <a href="#stats" id="open_stats">stats</a>
          - <a href="#settings" id="open_settings">settings</a>
          - <a href="/logout">logout</a>
      </div>
<% } %>
    </div>
      <div id="pages_wrapper">
        <div id="lobby_listing">
          <div class="page_header">
            Filter:
            <span id="filter_6s"
                  filter="players_per_team=6"
                  class="filter_button">
               6v6
            </span>
            <span id="filter_9s"
                  filter="players_per_team=9"
                  class="filter_button">
               9v9
            </span>
            <div id="filter_na"
                 filter="region=na"
                 class="small_region region_na filter_button"></div>
            <div id="filter_eu"
                 filter="region=eu"
                 class="small_region region_eu filter_button"></div>
            <div id="filter_au"
                 filter="region=au"
                 class="small_region region_au filter_button"></div>
            <a href="#" id="start_pug">
               Start PUG
            </a>
          </div>
          <div id="no_pugs">
            No PUGs are open!
          </div>
          <div id="pugs_loading">
            <img src="http://cdn.tf2pickup.com/ajax-loader.gif" />
            <p id="loading_status">Connecting...</p>
          </div>
          <div class="pugs_scrollbar_fix">
            <div id="pugs_container"></div>
          </div>
       </div>
         <div id="in_pug">
           <div class="page_header">
             <span id="leave_pug">
               Leave PUG
             </span>
           </div>
           <div class="pugs_scrollbar_fix">
             <div id="in_pug_teams_container"></div>
           </div>
        </div>
     </div>
 </div>
<div id="footer">
    &copy; 2012 TF2Pickup.com
</div>
